@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

/* HEADER */

header {
    border-bottom: 1px solid;
}
   

h1 {
    color:  black;
    text-align: center;
}


h2 {
    color: black;
    text-align: center;
    font-weight: bold;
}


a {
    text-decoration: none;
    font-weight: bold;
}


li {
    list-style-type: none;
    color: blueviolet;
    font-weight: bold;
    font-size: larger;
    display: inline-block;
}


main {
    background-color: #444444;
    text-align: center;
}


footer {
    padding: 20px 0;
    background-color: black;
    color: white;
}


.imgBar {
    width: 400px;      
}


.mapa {
    width: 400px ;
    transition: all 0.3s;    
}


.mainGaleria {
    width: 100%;
    background-color: black;
    height: 100% ;
}


.logoPrincipal {
    width: 120px;
    transition: all 0.3s
}


.logoPrincipal:hover {
        width: 130px;
}


.logosRedes {
    width: 40px;
    margin: 5px;  
}

.btnWhats {
    position: fixed;
    right: 0;
    bottom: 60px;
}

.colorFondo {
    background-image: linear-gradient(#e96443, #904e95);
}


@keyframes texto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.animacionTexto {
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


